<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-header">
        <h2>A propos</h2>
        <p>Daradji application visant la vulgarisation des QAÇAA ID de Serigne Touba</p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-6 content ps-0 ps-lg-5">
          <p>
            L'écriture, la recherche et la divulgation du savoir faisaient partie de l'essentiel des activités de Cheikh Ahmadou
            Bamba du temps de son vivant.
          </p>
          <p>
            Cheikh Ahmadou Bamba a écrit sur de nombreux thèmes parmi lesquels nous pouvons citer :
            ceux orientés vers les prescriptions obligatoires à tout musulman, l’unicité divine, le récit de l’épopée du Prophète MOHAMED (PSL) et des Compagnons, la gratitude et la reconnaissance envers DIEU etc.. .
            Mais retenons que le Cheikh a écrit sur tout ce qui peut être utile ou profitable à tout être vivant, particulièrement
            aux musulmans.
          </p>
          <!-- <p>Une introduction sur Serigne Touba et l'importance des khassidas dans sa doctrine et dans la communauté mouride.</p> -->
          <hr>
          <p>
            Serigne TOUBA affirme avoir légué à ces talibés trois références principales pour leur salut. Et ces choses sont les suivantes:</p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i>
                La Grande mosquée : pour laquelle il précise que toute personne qui se distinguera dans sa construction et sa
                rénovation restera personne phare dans cette vie et dans l’au-delà.
              </li>
              <li><i class="bi bi-check-circle-fill"></i>
                Sa descendance : qui constitue selon lui la Voie de la Droiture pour tous les Mourides.
              </li>
              <li><i class="bi bi-check-circle-fill"></i>
                Ses QAÇAA ID : objet de notre application, le Cheikh précise qu’ils sont ses traces et qui s’y attache arrivera
                assurément à lui.
              </li>
            </ul>
          <!-- <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt=""> -->
          <!-- <p>Une présentation de l'application : pourquoi elle a été créée, quelles sont ses fonctionnalités, qui sont ses cibles
          (par exemple, les adeptes de Serigne Touba, les personnes intéressées par l'islam en général, etc.).</p> -->
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <!-- <p class="fst-italic">
              Des informations sur la manière dont l'application a été conçue et développée : qui sont les personnes impliquées dans
              le projet, comment avez-vous choisi les khassidas à inclure, comment avez-vous assuré la qualité et l'exactitude des
              informations présentées, etc.
            </p> -->
            <p class="fst-italic">
              Aujourd'hui, me semble t-il, l'une des solutions les plus probants pour pallier à ce besoin de connaissances sur le
              mouridisme et ses enseignements, c'est de mettre en place une application basée sur des solutions à la pointe des nouvelles
              technologies de l'information pour la vulgarisation et la sauvegarde de l'œuvre de Cheikh Ahmadou Bamba.
            </p>
            <p>De ce fait nous proposons une solution reposant sur les solutions suivantes:</p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> Ergonomique</li>
              <li><i class="bi bi-check-circle-fill"></i> Responsive</li>
              <li><i class="bi bi-check-circle-fill"></i> Évolutive</li>
            </ul>
            <p>
              La numérisation et la distribution en ligne des contenus audio visuels sont autant d'innovation à prendre en compte.
              L'œuvre de cheikh Ahmadou Bamba doit être conservé et surtout perpétué dans le temps.
              De ce fait cette application sera évolutive. Pour ce faire, la contribution de chacun est d'une importance capitale.
              Raison pour laquelle nous sommes ouvert à toutes <a routerLink="/contact">questions ou suggestions</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Us Section -->
</main>
